.bi-cloud-arrow-down-fill::before {
  content: "\f294";
  color: #9f9a9a;
  height: -10px;
  font-size: 33px;
  margin-top: 4px;
}

.bi-trash-fill::before {
  content: "\f5dd";
  font-size: 19px;
  color: red;
  margin-top: 11px;
}

.primary-card {
  background: #FFFFFF;
  border: 1px solid #E1E3F0;
  box-shadow: 0px 4px 12px rgb(0 25 95 / 7%);
  border-radius: 8px;

  label {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    height: 18px;
    color: rgba(35, 46, 104, 0.69);
    width: 100%;
  }
}

button.table-btn.danger {
  background: #FF0000;
}

button.table-btn.orange {
  background: #ED7D31;
}

button.table-btn.yellow {
  background: #DDCB4E;
}

.custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: #00195F;
  background-color: #00195F;
  height: 17px;
  width: 17px;
  top: 2px;
}

.status1 {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #ED9B11;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}

.status2 {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #19AE43;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}

.badge.status1 {
  background: rgba(237, 155, 17, 0.08);
  border: 1px solid rgba(237, 155, 17, 0.35);
  border-radius: 36px;
  height: 24px;
}

.badge.status2 {
  background: rgba(62, 48, 233, 0.08);
  border: 1px solid #19AE43;
  border-radius: 36px;
  height: 24px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 6px 8px;
}

.back {
  a {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #3B495B;
    border-bottom: 1px dashed #3B495B;
    text-decoration: none;
    padding: 0 0 2px 0px;
  }

  .text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #3B495B;
    margin-left: 50px !important;
  }

  span {
    font-weight: 600;
  }
}
