button {
  background: #FFFFFF;
  border: 1px solid rgba(63, 81, 181, 0.16);
  border-radius: 32px;
  width: 99px;
  height: 26px;

}

.card-body {
  align-self: center;
  text-align: center;
  vertical-align: middle;
}
