<div class="right-content">
    <section class="">
        <div class="">
            <div class="row">
                <div class="col-3 responsive-column1">
                    <div class="card primary-card info mt-2 pb-0">
                        <div class="card-body">

                            <div class="col-3">
                                <img src="../../../../assets/setting-1.png" alt="">
                            </div>
                            <p>CFG_IROUTE</p>
                            <button>View Details</button>
                        </div>
                    </div>
                </div>
                <div class="col-3 responsive-column1">
                    <div class="card primary-card info mt-2 pb-0">
                        <div class="card-body">
                            <div class="col-3">
                                <img src="../../../../assets/setting-2.png" alt="">
                            </div>
                            <p>CFG_IROUTE_OFF</p>
                            <button>View Details</button>
                        </div>
                    </div>
                </div>
                <div class="col-3 responsive-column1">
                    <div class="card primary-card info mt-2 pb-0">
                        <div class="card-body">
                            <div class="col-3">
                                <img src="../../../../assets/setting-3.png" alt="">
                            </div>
                            <p>CFG_IPARM</p>
                            <button>View Details</button>
                        </div>
                    </div>
                </div>
                <div class="col-3 responsive-column1">
                    <div class="card primary-card info mt-2 pb-0">
                        <div class="card-body">
                            <div class="col-3">
                                <img src="../../../../assets/setting-4.png" alt="">
                            </div>
                            <p>CFG_IPARM_OVR</p>
                            <button>View Details</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3 responsive-column1">
                    <div class="card primary-card info mt-2 pb-0">
                        <div class="card-body">
                            <div class="col-3">
                                <img src="../../../../assets/setting-1.png" alt="">
                            </div>
                            <p>CFG_IROUTE</p>
                            <button>View Details</button>
                        </div>
                    </div>
                </div>
                <div class="col-3 responsive-column1">
                    <div class="card primary-card info mt-2 pb-0">
                        <div class="card-body">
                            <div class="col-3">
                                <img src="../../../../assets/setting-2.png" alt="">
                            </div>
                            <p>CFG_IROUTE</p>
                            <button>View Details</button>
                        </div>
                    </div>
                </div>
                <div class="col-3 responsive-column1">
                    <div class="card primary-card info mt-2 pb-0">
                        <div class="card-body">
                            <div class="col-3">
                                <img src="../../../../assets/setting-3.png" alt="">
                            </div>
                            <p>CFG_IPARM</p>
                            <button>View Details</button>
                        </div>
                    </div>
                </div>
                <div class="col-3 responsive-column1">
                    <div class="card primary-card info mt-2 pb-0">
                        <div class="card-body">
                            <div class="col-3">
                                <img src="../../../../assets/setting-3.png" alt="">
                            </div>
                            <p>CFG_IPARM_OVR</p>
                            <button>View Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>