<header>
  <div class="logo d-flex align-items-center justify-content-center">
    <img src="../../../assets/login.svg" alt="" />
  </div>
  <div class="user-settings d-flex align-items-center">
    <p><img src="../../../assets/slap.svg" class="mr-2 heading-main">Welcome Chiru. Today 16 May, 2022</p>
    <div class="account-settings-menu d-flex align-items-center justify-content-between">
      <div class="notifications">
        <div class="position-relative">
          <img src="../../../assets/bell-header.svg" class="img bell" />
          <span class="position-absolute">5</span>
        </div>
      </div>
      <img src="../../../assets/andrew.png" alt="Avtar" class="user avatar" />
    </div>
  </div>
</header>
