<div class="right-content">
  <section>
    <div class="boxed-card">
      <div class="card primary-card mb-4 header infoBox">
        <div class="row">
          <div class="center infoButton col-11">
            <img class="mr-2" src="../../../../assets/info-red.svg" /> The current group key behavior is materially similar to its past closed and clear appearances
          </div>
          <div class="col-1 text-right">
            <img class="ml-2" src="../../../../assets/close.svg" />
          </div>
        </div>
      </div>
      <div class="card primary-card mb-4 header">
        <div class="row">
          <div class="d-flex align-items-center justify-content-between flex-row">
            <div class="back d-flex">
              <a href="javascript:void(0);'"><img src="../../../../assets/backArrow.png"
                  class="mr-3" />Back to insight details</a>
              <p class="text m-0">The case under investigation - <span>CM10213U4311</span></p>
            </div>
            <div class="">
              <button id="focusProfile"><img class="mr-2" src="../../../../assets/focusProfile.png" />Focus
                Profile</button>
              <button id="download"><img class="mr-2" src="../../../../assets/downloadDetails.png" />Download</button>
              <button id="print"><img class="mr-2" src="../../../../assets/print.png" />Print</button>
            </div>
            <!-- <div class="dropdown">
                     <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Basic Details
                     </button>
                     <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Basic Details</a>
                        <a class="dropdown-item" href="#" [routerLink]="'/inquiry/details/insight-details'">Insight
                           Details</a>
                        <a class="dropdown-item" href="#">Focus Risk</a>
                        <a class="dropdown-item" href="#">Counter Party Details</a>
                     </div>
                  </div> -->
          </div>
        </div>
      </div>
      <div class="row pt-10">
        <div class="col-4 responsive-column1">
          <div class="heading d-flex">
            <img class="icon-img" src="../../../../assets/bubble.png" />
            <p class="textHeading ml-2">Tested Transaction Detail</p>
          </div>
        </div>
        <div class="col-5 responsive-column1">
          <div class="heading d-flex">
            
            <small class="text-muted">The total amount is $78,927 with No rounding, Adjusted </small>
          </div>
        </div>
        <div class="col-3 responsive-column1">
          <div class="heading d-flex">
            <p style="white-space: nowrap;" class="col-4 "><a href="javascript:void(0);'">View Details</a>
            </p>
            <select class="form-select form-select-sm col-8 flex-row-reverse mb-2" aria-label=".form-select-sm example">
              <option selected>01 4234 GC-RMF-635342-o</option>
            </select>
          </div>
        </div>
        <div class="col-4 responsive-column1">
          <div class="card primary-card info mt-2">
            <p class="top-heading">Previous Tested Cases</p>
            <div class="card-body p-0">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Case No</th>
                    <th scope="col">Date</th>
                    <th scope="col">Status</th>
                    <th scope="col">Scenario</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let testData of getinsightTest">
                    <td>{{ testData.caseNo }}</td>
                    <td style="white-space: nowrap;">{{ testData.date }}</td>
                    <td style="white-space: nowrap;">{{ testData.status }}</td>
                    <td style="white-space: nowrap;">{{ testData.scenario }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-3 responsive-column1">
          <div class="card primary-card info mt-2">
            <p class="top-heading">Transaction Details</p>
            <div class="card-body p-0">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Tot Amt</th>
                    <th scope="col"># Txns</th>
                    <th scope="col">Max Amt</th>
                    <th scope="col">Max Amt</th>
                </thead>
                <tbody>
                  <tr *ngFor="let testData of getinsightTest">
                    <td>{{ testData.totalAmount }}</td>
                    <td>{{ testData.rounding }}</td>
                    <td>{{ testData.totalAmount }}</td>
                    <td>{{ testData.totalAmount }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-2 responsive-column1">
          <div class="card primary-card info mt-2">
            <p class="top-heading">Party Details</p>
            <div class="card-body p-0">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col" class="headingWidth">Elevated Geo Risk</th>
                    <th scope="col" class="headingWidth">Orig Name</th>
                    <th scope="col" class="headingWidth">Ben Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let changeTestData of getinsightTestChange">
                    <td>{{ changeTestData.currency }}</td>
                    <td>{{ changeTestData.currency }}</td>
                    <td>{{ changeTestData.currency }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-3 responsive-column1">
          <div class="card primary-card info mt-2">
            <p class="top-heading">Eligibility For Materially similar test</p>
            <div class="card-body p-0">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col" class="headingWidth">Tested transaction</th>
                    <th scope="col" class="headingWidth">Similar Character</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let insightMaterialy of getinsightMaterialy">
                    <td>{{ insightMaterialy.testedTransaction }}</td>
                    <td>{{ insightMaterialy.similarCharacter }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <nav aria-label="Page navigation example">
        <ul class="pagination pt-20">
            <li class="page-item"><a class="page-link" href="javascript:void(0);"><img src="../../../assets/left.svg" /></a></li>
            <li class="page-item"><a class="page-link active" href="javascript:void(0);">1</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0);"><img src="../../../assets/right.svg" /></a></li>
        </ul>
      </nav>
    </div>
  </section>
</div>
