kendo-card {
  width: 100% !important;
  height: 94.5%;
  background: #fff !important;
  border-radius: 7px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 10px 0px #a2acec40;
  border: 1px solid #ededed;
}
.statusGreen {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #ae192a;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}